[submodule "kernel-5.15/KernelSU-Next"]
	path = kernel-5.15/KernelSU-Next
	url = https://github.com/pershoot/KernelSU-Next.git
[submodule "kernel-5.15/Baseband-guard"]
	path = kernel-5.15/Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
